<div class="container">
 <div class="row my-3">
  <div class="ml-5 pl-4">
    <h3 style="background:#DDDDDD">マイページ</h3>
  </div>
 </div>
 <div class="row">
  <div class="col-md-3 text-left">
    <table class="table table-borderless">
     <tr>
       <th>
          <span class="mr-3">登録情報</span>
          <span class=ml-3><%= link_to '編集する', edit_customers_path(@customer), class: "btn btn-success" %></span>
       </th>
     </tr>
   </table>
  </div>
 </div>

 <div class="row">
  <div class="col-md-7">
   <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="table-secondary">氏名</th>
        <td class=><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="table-secondary">カナ</th>
        <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th class="table-secondary">郵便番号</th>
        <td><%= @customer.postcode %></td>
      </tr>
      <tr>
        <th class="table-secondary">住所</th>
      　<td><%= @customer.address %></td>
      </tr>
      <tr>
        <th class="table-secondary">電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th class="table-secondary">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </div>
 </div>
  
  <div class="row">
   <div class="col-md-2 text-left">
     <table class="table table-borderless">
       <tr>
        <th>
          <span class="mr-4">配送先</span>
          <span class="ml-4"><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></span>
        </th>
        </tr>
      <tr>
        <th>
          <span class="mr-3">注文履歴</span>
          <span class="ml-3"><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></span>
        </th>
      </tr>
    </table>
   </div>
  </div>
</div>

