<div class="container">
  <div class="row py-3">
    <h4>ジャンル一覧・追加</h4>
  </div>
  <div class="row">
    <div class="col-8 py-5">
      <%= form_with model:@genre,url: admin_genres_path, local:true do |f| %>
      <table>
        <th class="px-4"><%= f.label :name, "ジャンル名" %></th>
        <td class="px-4"><%= f.text_field :name, placeholder: "ジャンル名" %></td>
        <td class="px-4"><%= f.submit "新規登録", class: 'btn btn-success px-3' %></td>
      </table>

      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th class="text-center">ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <th><%= genre.name %></th>
            <td><%= link_to '編集する', edit_admin_genre_path(genre.id) , class: "btn btn-sm px-3 btn-success" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
