<div class="container">
  <div class="row my-3 mx-3">
    <div class="col-md-3 text-left"><h4 style="background:#DDDDDD">ショッピングカート</h4></div>
    <div class="col-md-3"></div>
     <div class="col-md-6 text-right">
       <%= button_to "カートをからにする", destroy_all_cart_path(@carts), method: :delete, class: "btn-sm btn-danger" %>
     </div>

      
  </div>
    
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
     <th>商品名</th>
     <th>単価（税込）</th>
     <th>数量</th>
     <th>小計</th>
     <th></th>
    </tr>
  </thead>
  <!--% sum = 0 %>-->
  <% @carts.each do |cart| %>
  <tbody>
    <tr>
     <td>
         <%= attachment_image_tag(@item, :image, format: 'jpeg', size: "50x50", fallback: "no_image.jpg") %>
         <%= cart.item.name %>
     </td>
     <td><%= ((cart.item.price * 1.1).floor).to_s(:delimited) %></td>
     <td>
        <%= form_with model: cart, url: cart_path(cart), method: :patch do |f| %>
        <%= f.hidden_field :item_id, :value => cart.item.id %>
        <%= f.select :quantity, options_for_select((1..10).to_a, :selected => cart.quantity ), include_blank: '個数選択' %>
        <%= f.submit "変更", class: "btn-sm btn-success" %>
        <% end %>
     </td>
     <td><%= sub_price(cart).to_s(:delimited) %></td>
    <%# sum += cart.total.to_i %>
     <td><%= link_to '削除する', cart_path(cart), :method => :delete, class: "btn-sm btn-danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row my-5 mx-3">
    <div class="col-md-6 text-left">
     <%= link_to '買い物を続ける', root_path, class: "btn-lg btn-primary" %>
     </div>
     <div class="col-md-3"></div>
    <div class="col-md-3 text-right">
      <table class="table table-bordered">
         <tr>
           <th class="table-secondary">合計金額</th>
           <th> <%= total_price(@carts).to_s(:delimited) %></th>
         </tr>
      </table>
    </div>
    
</div>

 <div class="row">
  <div class="col-md-3 mx-auto">
   <%= link_to '注文情報入力', new_order_path, class: "btn-lg btn-success" %>
  </div>
 </div>

</div>