<!DOCTYPE html>
<html lang="jp" dir="ltr">

<head>
    <meta charset="utf-8">
    <style>
      .container {
      width: 90%;
      }

      div {
        padding: 5px 0;
      }
    </style>
</head>


<div class="container">

<h3>管理者ログイン</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-2 py-2">
    <div><%= f.label :email, "メールアドレス" %> </div>
    <div><%= f.label :password, "パスワード" %></div>
  </div>
  <div class="col-8 py-2">
     <div><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "20" %></div>
     <div><%= f.password_field :password, autocomplete: "current-password" %></div>
     <div><%= f.submit "Log in", class: 'btn btn-success p-2 '%></div>
  </div>
</div>

<% end %>
</div>
