<div class="container">

  <div class="row mt-2">
    <div class="col-md-3 mb-4 text-center">
      <h4 style="background:#EEEEEE">注文情報確認</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% sum = 0 %>
        <% @carts.each do |cart| %>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag(@item, :image, format: 'jpeg', size: "50x50", fallback: "no_image.jpg") %>
              <%= cart.item.name %>
            </td>
            <td><%= tax_price(cart.item.price).to_s(:delimited) %></td>
            <td><%= cart.quantity %></td>
            <td><%= sub_price(cart).to_s(:delimited) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

    <div class="col-lg-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>送料</th>
            <td>800</td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td><%= total_price(@carts).to_s(:delimited)%></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td><%= (@order.total_price).to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= form_with model: @order, local:true do |f| %>
  <div class="row">
    <div class="col-md-10 mb-4">
      <h4 style="table-borderless">支払方法</h4>
          <%= @order.term %>
          <%= f.hidden_field :term, value: @order.term %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mb-4">
      <h4 style="table-borderless">お届け先</h4>
          <%= @order.postcode %>
          <%= f.hidden_field :postcode, value: @order.postcode %>
          <%= @order.address %>
          <%= f.hidden_field :address, value: @order.address %>
          <%= @order.name %>
          <%= f.hidden_field :name, value: @order.name %>
          <%= f.hidden_field :total_price %>
          <%= f.hidden_field :carriage %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-2">
      <%= f.submit '注文を確定する', class: 'btn btn-success' %>
    </div>
  </div>
</div>
<% end %>


